<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Book Categories</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="categories-header">
    <div class="id header">ID</div>
    <div class="category-name header">Category name</div>
  </div>
  <div th:each="category : ${categories}" class="list">
    <div th:text="${category.id}" class="id"></div>
    <div th:text="${category.name}" class="category-name"></div>
  </div>
  <div><a href="/_admin/category" class="link">Add new book category</a></div>
</body>
</html>