<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Author Adding</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body class="form">
<form th:action="@{/_admin/author}" method="POST" th:object="${newAuthor}">
  <div class="input"><input type="text" placeholder="Name" th:field="*{name}"></div>
  <div class="input"><input type="text" placeholder="Surname" th:field="*{surname}"></div>
  <div class="button">
    <input class="buttonText" type="submit" value="Add">
  </div>
</form>
</body>
</html>