<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Successful new book adding</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body class="form">
<div class="message">
  <div th:text="'New book  ' + ${name}"></div>
  <div><strong>successfully</strong> added!</div>
  <div><a href="/_admin/newBook" class="link">Add new book</a></div>
</div>
</body>
</html>