<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body style="margin: 0; padding-top: 20px; display: flex; justify-content: center; align-items: center;">
<form th:action="@{/login}" method="POST">
  <div style="padding-bottom: 8px"><input type="text" name="username" placeholder="Email"></div>
  <div style="padding-bottom: 8px"><input type="password" name="password" placeholder="Password"></div>
  <div style="display: flex; justify-content: center">
    <input style="border-radius: 5px; color: white; background-color: #452c63; padding: 5px 10px" type="submit" value="Log-in!">
  </div>
</form>
</body>
</html>