<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new Order</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="new-order-header">
    <div class="book-name header">Book</div>
    <div class="book-quantity header">Book quantity</div>
  </div>
  <form th:action="@{/_admin/newOrder}" method="POST" th:object="${newOrder}">
    <div>
      <div class="list">
        <input type="hidden" name="orderStatus.id" value="1">
        <select th:field="*{bookId}" class="ordered-book-name">
          <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.bookName}"></option>
        </select>
        <div class="input"><input type="number" th:field="*{quantity}" class="books-quantity"></div>
      </div>
      <div class="button"><input type="submit" value="Add order!" class="button-text"></div>
    </div>
  </form>
</body>
</html>