<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Successful new order adding</title>
</head>
<body style="margin: 0; padding-top: 20px; display: flex; justify-content: center; align-items: center;">
  <div style="border: 1px solid rgba(0, 0, 0, 0); padding: 20px; border-radius: 10px; background-color: #D8BFD8">
    <div th:text="'New order created'"></div>
    <div><strong>successfully</strong> added!</div>
    <div><a href="/_admin/newOrder">Add another order</a></div>
  </div>
</body>
</html>