<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User Registration</title>
</head>
<body style="margin: 0; padding-top: 20px; display: flex; justify-content: center; align-items: center;">
<form th:action="@{/_admin/registration}" method="POST" th:object="${newClient}">
  <div style="padding-bottom: 8px"><input type="text" placeholder="Name" th:field="*{name}"></div>
  <div style="padding-bottom: 8px"><input type="text" placeholder="Surname" th:field="*{surname}"></div>
  <div style="padding-bottom: 8px"><input type="email" placeholder="E-mail" th:field="*{email}"></div>
  <div style="padding-bottom: 8px"><input type="password" placeholder="Password" th:field="*{password}"></div>
  <div style="padding-bottom: 8px"><input type="text" placeholder="Phone" th:field="*{phone}"></div>
  <div style="padding-bottom: 8px"><input type="text" placeholder="Shipping address" th:field="*{shippingAddress}"></div>
  <div style="display: flex; justify-content: center">
    <input style="border-radius: 5px; color: white; background-color: #452c63; padding: 5px 10px" type="submit" value="Submit!">
  </div>
</form>
</body>
</html>