<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Log In for Client</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body class="form">
<form th:action="@{/clientLogin}" method="POST">
  <div class="input"><input type="text" name="username" placeholder="Client Email"></div>
  <div class="input"><input type="password" name="password" placeholder="Client Password"></div>
  <div class="button">
    <input class="buttonText" type="submit" value="Log-in!">
  </div>
</form>
</body>
</html>