<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User Registration</title>
</head>
<body style="margin: 0; padding-top: 20px; display: flex; justify-content: center; align-items: center;">
  <div style="border: 1px solid rgba(0, 0, 0, 0); padding: 20px; border-radius: 10px; background-color: #D8BFD8">
    <div th:text="'Dear ' + ${name} + ' ' + ${surname} + '.'"></div>
    <div>You have <strong>successfully</strong> registered!</div>
  </div>
</body>
</html>